h1 {
		font-style: italic;
		color:grey;
		font-family:Georgia;
}

h2 {
		color:grey;
		font-family:Georgia;
}

p {
		font-family:Verdana;
}

ul {
		list-style-type:square;
}

#title {
		border-style: dashed;
		margin: 20px;
		text-align: center;
}

p#education {
	font-style:oblique;
}